nav{
    padding: 5px 10px;
    
}
.nav-container{
    position: fixed;  
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}
.nav-link:after{
    content: "";
     height: 3px ;
     background-color:white;
     position: absolute;
     left: 0;
     top: 40px;
     transform-origin:bottom right;
     transition: transform 0.4s ease-out;  
     transform: scaleX(0);
}
.nav-link:hover{
    color: rgba(255, 255, 255, 0.164);

}
.nav-link:hover:after{
width: 100%;
transform: scaleX(1);
transform-origin: bottom left;
}
nav ul li {
    position: relative;
}
